<body>
    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    
    <!-- Page Content -->
    <div class="intro-header business-background-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>A cara da Nova Escola Pública</h1>
                        <h3>As escolas estão envolvidas com o processo <br>de formação de cidadãos melhores e precisam <br>de todo o apoio tecnológico disponível. Estamos aqui.</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center about">
                <h2>Bem-Vinda Comunidade</h2>
                <p class="lead">Lacroix fornece um ambiente prático, funcional e social para a comunidade acadêmica.</p>
            </div>
        </div>
        <!-- /.row -->
        <hr>

        <div class="row">
            <div class="col-sm-12 text-center about">
                <h2>Sistema de Ensino</h2>
                <p class="lead">Lacroix fornece um ambiente prático, funcional e social para a comunidade acadêmica.</p>
            </div>
        </div>
        <!-- /.row -->
        <hr>

        <div class="row">
            <div class="col-sm-12 text-center about">
                <h2>Ambiente de Trabalho e Rede Social</h2>
                <p class="lead">Lacroix fornece um ambiente prático, funcional e social para a comunidade acadêmica.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://image.flaticon.com/icons/svg/201/201571.svg" alt="">
                <h2>Marketing Box #1</h2>
                <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://image.flaticon.com/icons/svg/148/148797.svg" alt="">
                <h2>Marketing Box #2</h2>
                <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://image.flaticon.com/icons/svg/236/236835.svg" alt="">
                <h2>Marketing Box #3</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Quem usa Lacroix?
                </h1>
            </div>
        </div>
    </div>
    
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Estudantes</h2>
                    <p class="lead">Usa o sistema para administrar suas atividades e acompanhar seu histórico, além de falar bobagem com os coleguinhas.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="https://image.freepik.com/fotos-gratis/sorrindo-alunos-do-ensino-primario-que-sentam-se-na-sala-de-aula_1098-3953.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Pais</h2>
                    <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="http://vivomaissaudavel.com.br/static/media/uploads/papel-dos-pais-na-educacao.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Professores</h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="http://portalcostanorte.meionorte.com/wp-content/uploads/2016/01/48.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Escolas</h2>
                    <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="http://www.unidesc.edu.br/wp-content/uploads/2015/08/adm.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Governos</h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="http://www2.planalto.gov.br/presidencia/palacios-e-residencias-oficiais/palacio-do-planalto/galeria-de-imagens/palacio-do-planalto-21.jpg/download" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

        
    <div class="container about">
         <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-4 ">
                    <%= link_to "Junte-se à Atla", new_professor_registration_path, class: "btn btn-lg btn-success btn-block" %>
                </div>
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%= render "layouts/footer_main" %>

    <% if Rails.env.development? %>
      <div class="panel panel-warning"> 
        <div class="panel-heading"> 
          <h3 class="panel-title">Debug! Essas informações não aparecem no ambiente de produção!</h3> 
        </div> 
        <div class="panel-body">
        </div> 
        <ul class='list-group'>
          <% if current_professor %>
            <li>
              <h4>Logado como:</h4>
              <table class="table">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>nome</th>
                    <th>sobrenome</th>
                    <th>nome_usuario</th>
                    <th>email</th>
                    <th>telefone</th>
                    <th>tipo</th>
                    <th>sair</th>
                  </tr> 
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><%= current_professor.id %></th>
                    <td><%= current_professor.nome %></td>
                    <td><%= current_professor.sobrenome %></td>
                    <td><%= current_professor.nome_usuario %></td>
                    <td><%= current_professor.email %></td>
                    <td><%= current_professor.telefone %></td>
                    <td><%= current_professor.type %></td>
                    <td><%= link_to "Sair", destroy_session_path(current_professor), method: :delete %></td>
                  </tr>
                </tbody> 
              </table>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

</body>