<footer class="<%= 'footer navbar-fixed-bottom' if current_page?(new_professor_session_path) %>">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <ul class="list-inline">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="sobre">Sobre</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="servicos">Serviços</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="contato">Contato</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="pricing">Planos</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; ATLA 2016. Todos os direitos reservados.</p>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled list-inline list-social-icons pull-right">
                    <li>
                        <a href="https://www.facebook.com/atlaeducacao/" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <% if Rails.env.development? %>
      <div class="panel panel-warning"> 
        <div class="panel-heading"> 
          <h3 class="panel-title">Debug! Essas informações não aparecem no ambiente de produção!</h3> 
        </div> 
        <div class="panel-body">
        </div> 
        <ul class='list-group'>
          <% if current_professor %>
            <li>
              <h4>Logado como:</h4>
              <table class="table">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>nome</th>
                    <th>sobrenome</th>
                    <th>nome_usuario</th>
                    <th>email</th>
                    <th>telefone</th>
                    <th>tipo</th>
                    <th>sair</th>
                  </tr> 
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><%= current_professor.id %></th>
                    <td><%= current_professor.nome %></td>
                    <td><%= current_professor.sobrenome %></td>
                    <td><%= current_professor.nome_usuario %></td>
                    <td><%= current_professor.email %></td>
                    <td><%= current_professor.telefone %></td>
                    <td><%= current_professor.type %></td>
                    <td><%= link_to "Sair", destroy_session_path(current_professor), method: :delete %></td>
                  </tr>
                </tbody> 
              </table>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
</footer>