<!DOCTYPE html>
<html>
  <head>
    <title>Lacroix</title>
    <%= csrf_meta_tags %>
   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Lacroix</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="<%= 'active' if current_page?(estudante_path) %>"><%= link_to "Estudante", estudante_path %></li>
                    <li class="<%= 'active' if current_page?(pai_path) %>"><%= link_to "Pai", pai_path %></li>
                    <li class="<%= 'active' if current_page?(professor_path) %>"><%= link_to "Professor", professor_path %></li>
                    <li class="<%= 'active' if current_page?(escola_path) %>"><%= link_to "Escola", escola_path %></li>
                    <li class="<%= 'active' if current_page?(governo_path) %>"><%= link_to "Governo", governo_path %></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Entre</button>
                    <button class="btn btn-success ">Cadastre-se</button>
                </form>

            </div>
            <!-- /.navbar-collapse -->
            
        <!-- /.container -->
    </nav>
    <%= yield %>

    <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="sobre">Sobre</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#services">Services</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                        <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>
  </body>
</html>
